{{#already_finished}}
<h1>
  You've already responded
</h1>
<p>If you'd like to change your answers just call us.</p>
{{/already_finished}}

{{#are_people_avoiding}}
<div class="avoiding text-center row">
  <div class="col-sm-12">
  <h3>
    <span class="guests guests-smaller avoiding">
      {{guest_names_avoiding}}
    </span>
    <p>
      Thank you for taking the time to respond, we're sorry to hear you can't make it.
    </p>
  </h3>
  </div>
</div>
{{/are_people_avoiding}}

{{#are_people_attending}}
<div class="attending text-center row">
  <div class="col-sm-12">
  <h3>
    <span class="guests guests-smaller attending">
    {{guest_names_attending}}
    </span>
    <p>
      We'll see you there.
    </p>
  </h3>
  </div>
</div>

<div class="row">
  <span class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 strike">
    <i class="fa fa-heart heart"></i>
  </span>
</div>

<div class="row">
  <div class="col-sm-12 text-center">
  <h3>For dinner you chose</h3>
  {{#only_one_guest}}
    {{#menu_choices}}
    {{choice}}
    {{/menu_choices}}
  {{/only_one_guest}}
  {{#more_than_one_guest}}
  <ul>
    {{#menu_choices}}
    <li>
      {{name}}
      is having
      {{choice}}
    </li>
    {{/menu_choices}}
  </ul>
  {{/more_than_one_guest}}
  </div>
</div>
{{/are_people_attending}}

{{#are_people_attending}}
<div class="row">
  <div class="time col-xs-6 col-sm-6 text-right">
    <h3>When</h3>
    <span class="where-details">
      <p>4 o'clock in the afternoon</p>
      <p>September 26<sup>th</sup> 2015</p>
      <p>
        Please take your seat
        10 minutes before the ceremony begins.
      </p>
    </span>
  </div>

  <div class="location col-xs-6 col-sm-6">
    <h3>Where</h3>
    <ul class="where-details">
      <li>The Ghost House</li>
      <li>Galgorm Resort and Spa</li>
      <li>136 Fenaghy Road</li>
      <li>Galgorm, Co. Antrim</li>
      <li>Northern Ireland</li>
      <li>BT42 1EA</li>
    </ul>
    <p>
      <a href="https://www.google.co.uk/maps/place/Galgorm+Resort+%26+Spa,+136+Fenaghy+Rd,+Cullybackey,+Ballymena,+County+Antrim+BT42+1EA/@54.8754844,-6.3428185,17z/">
        Google Maps
      </a>
    </p>
  </div>
</div>

<div class="row">
  <span class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 strike">
    <i class="fa fa-heart heart"></i>
  </span>
</div>

{{#has_room}}
<div class="rooms row">
  <div class="col-sm-12">
  <h3>A room has been held for you</h3>
  <p>
    We have reserved a room in the hotel in your name.
    To confirm your reservation please pay the room deposit
    by Friday August 28<sup>th</sup>
  </p>
  <p>
    Contact Galgorm reservations team on
    <span class="tel">028 2588 1001</span>
  </p>
  </div>
</div>
{{/has_room}}

<div class="gifts">
  <h3>Not another crystal duck</h3>
  <p>
    We have decided not to set up a gift registry.
    We request nothing more than your company on the day we
    celebrate our wedding.
  </p>
  <p>
    If you feel you must, we would happily accept
    <a href="https://www.johnlewisgiftcard.com/">
      John Lewis vouchers
    </a>.
  </p>
</div>
{{/are_people_attending}}
