<div class="invite">
  {{#has_adults}}
  <h2 class="guests">
    {{adult_guests}}{{#has_children}},{{/has_children}}
    {{#has_children}}
    <span class="children">
      {{child_guests}}
    </span>
    {{/has_children}}
  </h2>
  {{/has_adults}}
  <h3 class="message">Please celebrate with us on our wedding day</h3>

  <p>at</p>

  <ul>
    <li>The Ghost House</li>
    <li>Galgorm Resort and Spa</li>
  </ul>

  <p>on</p>

  <p>Saturday September 26<sup>th</sup> 2015</p>

  <p>with dinner and dancing to follow</p>

  <p>in</p>

  <p>The Four Season's Suite</p>

</div>

<form method="post">
  <input type="submit" value="Continue" />
</form>
