<div class="invite">
  <h2 class="guests text-center">
    {{#has_primary}}
      {{primary_guests}}{{#has_secondary}},{{/has_secondary}}
    {{/has_primary}}
    {{#has_secondary}}
    <span class="children">
      {{secondary_guests}}
    </span>
    {{/has_secondary}}
  </h2>

  <div class="row">
    <span class="col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 strike">
      <i class="fa fa-heart heart"></i>
    </span>
  </div>

  <h3 class="row message">
    <div class="col-xs-12 col-sm-11 col-sm-offset-1">
      Please celebrate with us
    </div>
    <div class="col-xs-12 col-sm-11 text-right">
      on our wedding day
    </div>
  </h3>

  <div class="row invite-details">
    <div class="col-xs-4 col-sm-4 text-right label-details">
      <p>Where</p>
    </div>
    <div class="col-xs-8 col-sm-8 where-details">
      <ul>
        <li>The Ghost House</li>
        <li>Galgorm Resort and Spa</li>
      </ul>
    </div>
  </div>

  <div class="row invite-details">
    <div class="col-xs-4 col-sm-4 text-right label-details">
      <p>When</p>
    </div>
    <div class="col-xs-8 col-sm-8 where-details">
      <ul>
        <li>Four o'clock in the afternoon</li>
        <li>Saturday September 26<sup>th</sup> 2015</li>
      </ul>
    </div>
  </div>

  <div class="row invite-details">
    <div class="col-sm-12 text-center">
      <p>
        with dinner and dancing to follow in
        <span class="where-details">The Four Season's Suite</span>
      </p>
    </div>
  </div>

</div>

<div class="row invite-details">
  <div class="col-sm-12 text-center">
    <form method="post">
      <input type="submit" value="Continue" />
    </form>
  </div>
</div>
