<h1>Mags and Michael's Wedding</h1>
<h2>Saturday 26<sup>th</sup> September 2015</h2>

<form method="post" accept-charset="utf-8">
  <label for="rsvp-code">What is your RSVP code?</label>
  <input type="text" name="token" id="token" value="" />
  <div class="errors">
    {{#errors}}
    <div class="error">{{error}}</div>
    {{/errors}}
  </div>
  <input type="submit" value="Continue">
</form>
