<h2 class="guests">{{guest.first_name}} </h2>

<form class="rsvp form-horizontal" method="POST" id="form">

  <label for="form">
    <h3>Will you be attending?</h3>
  </label>

  <label class="radio-label" for="bells-attend">
    <input type="radio" id="bells-attend" name="attending" value="true">
    I will be there with bells on!
  </label>
  <label class="radio-label" for="no-bells-attend">
    <input type="radio" id="no-bells-attend" name="attending" value="true">
    I will be there, free of bells
  </label>
  <label class="radio-label" for="undecided-attend">
    <input type="radio" id="undecided-attend" name="attending" value="true">
    I will be there, undecided on bells
  </label>
  <label class="radio-label" for="bells-decline">
    <input type="radio" id="bells-decline" name="attending" value="false">
    I will not be there... I heard there would be people with bells
  </label>
  <label class="radio-label" for="regardless-decline">
    <input type="radio" id="regardless-decline" name="attending" value="false">
    I will not be there regardless of the bells controversy
  </label>

  {{{ form.csrf_token }}}

  <input type="submit" value="Continue" />
</form>

