<h1>RSVP to our wedding</h1>

<form method="post" accept-charset="utf-8">
  <label for="rsvp-code">What is your rsvp code?</label>
  <input type="text" name="rsvp-code" id="rsvp-code" value="" />
  <p><input type="submit" value="Continue →"></p>
</form>
