<h2 class="guests">{{guest.first_name}} {{guest.last_name}}</h2>

<h3>What would you like for your main course?</h3>

<form class="rsvp form-horizontal" method="POST" id="menu-choices">
  <label for="menu-choices">
    For my main course I would like
  </label>

  <label class="radio-label" for="turkey">
    <input type="radio" id="turkey" name="menu_choice" value="turkey">
    <span>
      {{#guest.is_child}}
      A half portion of<br/>
      {{/guest.is_child}}
      Stuffed Antrim turkey and honey roast ham,<br/>
      garnished with chipolata sausage,<br/>
      cranberries and port sauce
    </span>
  </label>

  <label class="radio-label" for="beef">
    <input type="radio" id="beef" name="menu_choice" value="beef" />
    {{#guest.is_child}}
    A half portion of<br/>
    {{/guest.is_child}}
    Roast prime sirloin of beef<br/>
    with tomato, mushroom and oregano sauce<br/>
    or pink peppercorn sauce
  </label>

  <label class="radio-label" for="vegetarian">
    <input type="radio" id="vegetarian" name="menu_choice" value="vegetarian" />
    {{#guest.is_child}}
    A half portion of<br/>
    {{/guest.is_child}}
    Mediterranean vegetable tarte tatin<br/>
    with basil pesto
  </label>

  <p>Please contact us with any special dietary requirements</p>
  {{{ form.csrf_token }}}

  <input type="submit" value="Continue" />
</form>
