<h1>All Invites</h1>
<a href="/invite/new">Create new invite</a>
<table>
  <tr>
    <th>
      Invite Url
    </th>
    <th>
      Guests
    </th>
  </tr>
  {{#invites}}
  <tr>
    <td>{{token}}</td>
    <td>
      <table border="0">
        <tr><th>Name</th></tr>
        {{#guests}}
        <tr><td>{{first_name}} {{last_name}}</td></tr>
        {{/guests}}
      </table>
      <form method="GET" action="/invite/{{token}}/guest/new">
        <input type="submit" value="Add Guest" />
      </form>
    </td>
    <td>
      <form method="POST" action="/invite/{{token}}/delete">
        <input type="submit" value="Delete" />
      </form>
    </td>
  </tr>
  {{/invites}}
</table>
