<h1>All Invites</h1>
<a href="/invite/new">Create new invite</a>
<table>
  <tr>
    <th>
      Invite Url
    </th>
    <th>
      Guests
    </th>
  </tr>
  {{#invites}}
  <tr>
    <td>{{token}}</td>
    <td>{{guests}}</td>
  </tr>
  {{/invites}}
</table>
