body {
  min-width: 330px;
  background-color: #d29ea9;
}

main {
  background-color: #f3f3f3;
  min-height: 100%;
  height: 100%;
}

header {
  font-weight: 500;
  height: 80px;
}

header div {
  height: 100%;
  min-height: 100%;
}

header span {
  position: relative;
  display: inline-block;
  font-size: 40px;
}

header span.mags {
  bottom: 28px;
  margin-right: -8px;
}

header span.and {
  color: #d29ea9;
  font-size: 70px;
  padding-right: -5px;
}

.strike {
  border-bottom: 1px solid #906246;
  text-align: center;
}

.strike-date {
  padding: 0 10px;
  position: relative;
  top: 10px;
  background-color: #f3f3f3;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.error {
  border-left: 5px solid #AB4D52;
  font-weight: 500;
  padding: 10px;
}

form {
  padding-top:40px;
}


/*Buttons*/

input[type=submit] {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 4px;
}

input[type=submit]:focus,
input[type=submit]:active:focus,
input[type=submit].active:focus {
    outline: 0 none;
}

input[type=submit] {
    background: #C09378;
    color: #ffffff;
    box-shadow: 0 3px 0 0 #906246;
}

input[type=submit]:hover,
input[type=submit]:focus,
input[type=submit]:active {
    color: #ffffff;
    background: #C09378;
}

input[type=submit]:active {
    color: #ffffff;
    background: #C09378;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}
