body {
  min-width: 330px;
  background-color: #d29ea9;
}

main {
  background-color: #f3f3f3;
  min-height: 100%;
  height: 100%;
}

@media (max-width: 350px) {
  .big-page header { font-size: 35px; }
  header { font-size: 36px; }
}

@media (min-width: 350px)
  and (max-width: 450px) {
  .big-page header { font-size: 40px; }
  header { font-size: 36px; }
}

@media (min-width: 450px)
  and (max-width: 575px) {
  .big-page header { font-size: 50px; }
  header { font-size: 36px; }
}

@media (min-width: 575px) {
  .big-page header { font-size: 70px; }
  header { font-size: 36px; }
}

.big-page header {
  padding-top: 40px;
}

header {
  padding-top: 20px;
  line-height: 1;
  font-weight: 500;
}

header span {
  position: relative;
  display: inline-block;
}

header span.mags {
  bottom: 0.56em;
  margin-right: -0.3em;
}

header span.and {
  color: #d29ea9;
  font-size: 1.5em;
}

header span.michael {
  margin-left: -0.2em;
}

.big-page .strike {
  padding-top: 40px;
}

.strike {
  padding-top: 20px;
  border-bottom: 2px solid #906246;
  text-align: center;
  height: 0px;
}

.strike-date {
  font-size: 18px;
  padding: 0 10px;
  position: relative;
  top: -12px;
  background-color: #f3f3f3;
}

.heart {
  top: -6px;
  position: relative;
  color: #da9ea9;
  background-color: #f3f3f3;
  padding: 0 10px;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

.error {
  border-left: 5px solid #AB4D52;
  font-weight: 500;
  padding: 10px;
}

form {
  padding-top:40px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}


/*Buttons*/

input[type=submit] {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 4px;
}

input[type=submit]:focus,
input[type=submit]:active:focus,
input[type=submit].active:focus {
    outline: 0 none;
}

input[type=submit] {
    background: #C09378;
    color: #ffffff;
    box-shadow: 0 3px 0 0 #906246;
}

input[type=submit]:hover,
input[type=submit]:focus,
input[type=submit]:active {
    color: #ffffff;
    background: #C09378;
}

input[type=submit]:active {
    color: #ffffff;
    background: #C09378;
    box-shadow: none;
    margin-bottom: -3px;
    margin-top: 3px;
}

.guests {
  font-family: "Bilbo";
  font-size: 4em;
  padding-top: 32px;
}

.guests .children {
  font-size: 0.75em;
}

.message {
  font-family: "Dancing Script";
  font-size: 32px;
}
