<h1>Add a Guest</h1>

<form action="/invite/{{token}}/guest" method="post" accept-charset="utf-8">
  <label for="first_name">
    First Name
    <input type="text" name="first_name" id="first_name" value="" />
  </label>

  <label for="last_name">
    Last Name
    <input type="text" name="last_name" id="last_name" value="" />
  </label>

  <label for="is_child">
    <input type="checkbox" name="is_child" id="is_child" />
    Child
  </label>

  <label for="is_secondary">
    <input type="checkbox" name="is_secondary" id="is_secondary" />
    Secondary on Invite
  </label>

  {{{ form.csrf_token }}}
  {{#errors}}
  <span class="error">{{error}}</span>
  {{/errors}}

  <input type="submit" value="Continue →">
</form>
