<h1>Create an Invite</h1>
<form method="post" accept-charset="utf-8">

  <label for="has_room">
    <input type="checkbox" name="has_room" id="has_room" />
    Room held
  </label>

  {{{ form.csrf_token }}}
  {{#errors}}
  <span class="error">{{error}}</span>
  {{/errors}}

  <input type="submit" value="Continue →">
</form>
