<div class="row">
  <div class="col-sm-6">
    <h2>All Invites</h2>
  </div>
</div>
<div class="row ">
  <div class="col-sm-6 ">
    <a href="/invite/new" class="button btn-xs">Create new invite</a>
  </div>
</div>

<div class="row">
  <div class="col-sm-6">
    <h3>Stats</h3>
  </div>
</div>
<div class="row ">
  <div class="col-sm-4">
    <label>Attending</label>
  </div>
  <div class="col-sm-2">
    {{num_attending}}
  </div>
  <div class="col-sm-4">
    <label>Beef</label>
  </div>
  <div class="col-sm-2">
    {{num_beef}}
  </div>
</div>
<div class="row ">
  <div class="col-sm-4">
    <label>Avoiding</label>
  </div>
  <div class="col-sm-2">
    {{num_avoiding}}
  </div>
  <div class="col-sm-4">
    <label>Turkey</label>
  </div>
  <div class="col-sm-2">
    {{num_turkey}}
  </div>
</div>
<div class="row ">
  <div class="col-sm-4">
    <label>Not yet answered</label>
  </div>
  <div class="col-sm-2">
    {{num_not_responded}}
  </div>
  <div class="col-sm-4">
    <label>Vegetarian</label>
  </div>
  <div class="col-sm-2">
    {{num_vegetarian}}
  </div>
</div>

{{#invites}}
<div class="strike control-row"></div>
<div class="row">
  <div class="col-sm-3 col-xs-4">
    <b>Token</b><br />
    <span class="token">{{token}}</span>
  </div>
  <div class="col-sm-3 col-xs-6">
    <b>Room Held</b><br />
    {{#has_room}}Yes{{/has_room}}
    {{^has_room}}No{{/has_room}}
  </div>
  <div class="col-xs-12 col-sm-6 text-right">
    <form method="GET" action="/invite/{{token}}/guest/new" class="inline-form">
      <input type="submit" value="Add Guest" class="btn-xs" />
    </form>
    <form method="POST" action="/invite/{{token}}/delete" class="inline-form">
      <input type="submit" value="Delete Invite" class="btn-xs"/>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <table border="0" class="table">
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Response</th>
        <th>Actions</th>
      </tr>
      {{#guests}}
      <tr>
        <td>{{first_name}} {{last_name}}</td>
        <td>
          {{#is_child}}Child Guest{{/is_child}}
          {{^is_child}}Adult{{/is_child}}
          {{#is_primary}}Primary{{/is_primary}}
          {{^is_primary}}Secondary{{/is_primary}}
        </td>
        <td>
          {{#rsvp}}
          {{#attending}}Attending - {{menu_choice}}{{/attending}}
          {{^attending}}Not Attending{{/attending}}
          {{/rsvp}}
          {{^rsvp}}Not responded yet{{/rsvp}}
        </td>
        <td>
          <form method="POST" action="/invite/{{token}}/guest/{{id}}/delete">
            <input type="submit" value="Delete Guest" class="btn-xs"/>
          </form>
        </td>
      </tr>
      {{/guests}}
    </table>
  </div>
</div>
{{/invites}}
