<h1>All Invites</h1>
<a href="/invite/new">Create new invite</a>
<table>
  <tr>
    <th>
      Invite Url
    </th>
    <th>
      Room held
    </th>
    <th>
      Guests
    </th>
  </tr>
  {{#invites}}
  <tr>
    <td class="token">{{token}}</td>
    <td>
      {{#has_room}}Yes{{/has_room}}
      {{^has_room}}No{{/has_room}}
    </td>
    <td>
      <table border="0">
        <tr>
          <th>Name</th>
          <th>Adult/Child</th>
          <th>Response</th>
          <th>Dinner choice</th>
          <th>Actions</th>
        </tr>
        {{#guests}}
        <tr>
          <td>{{first_name}} {{last_name}}</td>
          {{#is_child}}
            <td>Child Guest</td>
          {{/is_child}}
          {{^is_child}}
            <td>Adult</td>
          {{/is_child}}
          {{#rsvp}}
          {{#attending}}<td>Attending</td>{{/attending}}
          {{^attending}}<td>Not Attending</td>{{/attending}}
          <td>{{menu_choice}}</td>
          {{/rsvp}}
          {{^rsvp}}
            <td>Not responded yet</td><td></td>
          {{/rsvp}}
          <td>
            <form method="POST" action="/invite/{{token}}/guest/{{id}}/delete">
              <input type="submit" value="Delete Guest" />
            </form>
          </td>
        </tr>
        {{/guests}}
      </table>
      <form method="GET" action="/invite/{{token}}/guest/new">
        <input type="submit" value="Add Guest" />
      </form>
    </td>
    <td>
      <form method="POST" action="/invite/{{token}}/delete">
        <input type="submit" value="Delete Invite" />
      </form>
    </td>
  </tr>
  {{/invites}}
</table>
